body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: #333;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: auto;
    gap: 10px;
}

fieldset{
    border: 1px solid #313030;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.iframe{
    display: flex;
    flex-direction: column;
    align-items: center;
}

thead tr{
    background-color: #e0d2d2;
}

caption{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
}

tfoot{
    text-align: center;
}

.img-front-end{
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color: chocolate;
    border-radius: 5px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.menu{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.menu ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: #333;
}