h1{
    text-align: center;
    color: #333;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: auto;
    gap: 10px;
}

fieldset{
    border: 1px solid #313030;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.iframe{
    display: flex;
    flex-direction: column;
    align-items: center;
}

thead tr{
    background-color: #e0d2d2;
}

caption{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
}

tfoot{
    text-align: center;
}