@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Libertinus Serif Display", system-ui;
  letter-spacing: 1px;
}